$theme-menu-width: 300px;
$black: #1b1f23 ;
$theme-white: lighten($black, 99%);
$theme-black: lighten($black, 15%);
$theme-menu-background: darken($theme-black, 10%);
$lh-condensed-ultra: 1 ;
$gray-400: #959da5 ;
$gray-600: #586069 ;
$text-gray: $gray-600 ;
$blue-500: #0366d6 ; // Default: Passes AA with #fff
$text-blue: $blue-500 ;

$DarkSlateGray: #354847;
$SlateGray: #4E5857;
$Teal: #376B69;
$TurquoiseGreen: #00948E;
$TurquoiseCyan: #00AAA3;

$shifted-width: 25px;

//modifiying rtd_theme to make it full screen anytime
.content-wrap {
  max-width: 100% !important;
  margin-right: $shifted-width;
  // background-color: #212529;
  // background-color: rgb(85, 110, 122);
  // background-image: url('{{ site.baseurl }}/config/assets/images/header-bg5.jpg') !important;
  // background-repeat: repeat !important;
  background: transparent;
  // font-family:  "Source Sans Pro","Microsoft Yahei",sans-serif;

  &.shift2 {
    margin-right: $theme-menu-width + 20px !important;
  }

}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6, .markdown-body dt {
  font-family: "Source Sans Pro","Microsoft Yahei",sans-serif !important;
}
body{
  font-family: "Source Sans Pro","Microsoft Yahei",sans-serif !important;
}
.markdown-body blockquote {
  color: #bec4be !important;
}
.markdown-body table {
  color: #bec4be !important;
}
.toctree .caption {
  color: $TurquoiseCyan !important;
}
.addons-wrap .status {
  background-color: #042927 !important;
}
.container {
  color: #bec4be !important;
  background:#202529 url('{{ site.baseurl }}/config/assets/images/header-bg5.jpg') !important;
  background-repeat: repeat !important;
}
.breadcrumb-item-selected, .breadcrumb-item[aria-current]:not([aria-current="false"]) {
  color: #bec4be !important;
}
//toctree color
.toctree > ul .toc.current a.current {
  background: rgba(232, 233, 235, 0.1) !important;
  border-top: 1px solid rgba(255,255,255,0.5) !important;
  border-bottom: 1px solid rgba(255,255,255,0.5) !important;
}
.toc.level-1.current > a {
  background: rgba(190, 196, 190, 0.1) !important;
}
.toc.level-1.current > ul {
  background: rgba(190, 196, 190, 0.1) !important;
}
.toctree > ul > .toc.current {
  background: transparent !important;
}
.toctree > ul .toc.current a {
  color: #fff;
}
//citation color
.markdown-body pre {
  background-color: rgba(97.6, 97.6, 97.6, 0.2);
}
.markdown-body pre > code {
  color: #bec4be;
}
.markdown-body .highlight pre, .markdown-body pre {
  background-color: rgba(97.6, 97.6, 97.6, 0.2);
}
.markdown-body h2 {
  border-bottom: none;
}
.markdown-body .anchor {
  display: none !important;
}
.highlight {
  background-color: rgba(97.6, 97.6, 97.6, 0.2);
}
//table color
.markdown-body table tr {
  background-color: transparent;
}
.markdown-body table tr:nth-child(2n) {
  background-color: transparent;
}
//code color
.markdown-body code, .markdown-body tt {
  background-color: rgba(97.6, 97.6, 97.6, 0.3);
}
.header {
  background: #2d5a57 url('{{ site.baseurl }}/config/assets/images/header-bg2.jpg') !important;
}
.sidebar {
  background: rgba(38, 44, 49, 0.5); //#262c31;
}
//toasts color
.toasts.note {
  background-color: #e7f2fa1a !important;
  color: #9ca4b7 !important;
}
.toasts.note .title {
  background: rgba(106, 176, 222, 0.7);
}
.toasts.tip {
  background-color: rgba(219, 250, 244, 0.1) !important;
  color: #9ca4b7 !important;
}
.toasts.warning {
  background-color: rgba(251, 233, 217, 0.1) !important;
  color: #9ca4b7 !important;
}
.toasts.danger {
  background-color: rgba(253, 243, 242, 0.1) !important;
  color: #9ca4b7 !important;
}

.sidebar-2 {
  color: $theme-white;
  background: $theme-menu-background;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  .version {
    color: rgba(255, 255, 255, 0.3);
  }
}

.sidebar-wrap-2 {
right: 0;
position: fixed;
  top: 0;
  bottom: 0;
  width: $shifted-width;
  max-height:  100%;

  &.shift2 {
    width: $theme-menu-width + 20px;
  }

  .sidebar-2 > :last-child {
    margin-bottom: 5em;
    // 20px for scroll
    width: $shifted-width;
    height: 100%;
    &.shift2 {
      width:  $theme-menu-width + 20px;
    }

  }
}



@media (max-width: 768px){

  .sidebar-wrap-2 {
    width: $shifted-width;
    &.shift2 {
      width: $theme-menu-width + 20px !important;
      button#toggle {
        display: none !important;
      }
    }
  }
  .sidebar-2 {
    width: $shifted-width;
    &.shift2 {
      width: $theme-menu-width + 20px !important;
      button#toggle {
        display: none !important;
      }
    }
  }
  .content-wrap {
    max-width: 1400px !important;
    margin-right: $shifted-width;
    &.shift2 {
      margin-right:$theme-menu-width + 20px !important;
      button#toggle {
        display: none !important;
      }
    }
  }
  .archive {
    width: 0 ;
    &.shift2 {
      width: 295px !important;
      button#toggle {
        display: none !important;
      }
    }
  }
}

// Icon-only buttons
.btn-octicon-2 {
  display:inline;
  // stylelint-disable-next-line primer/spacing
  padding: 5px;
  // stylelint-disable-next-line primer/spacing
  // margin-left: 20px;
  line-height: $lh-condensed-ultra;
  color: $text-gray;
  vertical-align: middle;
  text-align: left;

  width: 30px; 
  height: 100%; 

  // For `<button>` elements
  // background: transparent;
  background: #042927;
  border: 0;

  &:hover {
    color: $text-blue;
  }

  &.disabled,
  &[aria-disabled="true"] {
    // stylelint-disable-next-line primer/colors
    color: $gray-400;
    cursor: default;

    // stylelint-disable-next-line primer/colors
    &:hover {
      color: $gray-400;
    }
  }
}
.bouton{
  position: fixed;
  height: 100%;
  max-height:  100%;
}

.archive {
  position: fixed;
  right: 0;
  width: 0;
  height: 100%;
  // background:#262c31; //#24292e;// transparent;//$gray-400;// #3c454e;
  background-image: url('{{ site.baseurl }}/config/assets/images/header-bg3.jpg') !important;
  display: none;
  &.shift2 {
    width: 295px;
    display: block !important;
  }

}